@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    background-color: antiquewhite;
}

* {
    margin: 0;
    padding: 0;
}

nav {
    font-family: 'Open Sans', sans-serif;
}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 50px;
    background-color: black;
    color: whitesmoke;
}

nav ul li {
    padding: 12px;
}

nav ul li a {
    text-decoration: none;
    font-weight: bolder;
    color: white;
}

i {
    padding: 3px;
}

a:hover {
    background-color: white;
    border-radius: 5px;
    color: black;
}

.container {
    display: flex;
    min-height: 70vh;
    background-color: black;
    color: white;
    margin: 23px auto;
    width: 60%;
    border-radius: 12px;
    padding: 34px;
    background-image: url('img/bg.png');
    background-repeat: no-repeat;
    background-size: 100%;
}

.songItemContainer {
    margin-top: 30px;
}

.songItem {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: black;
    margin: 12px 0;
    border-radius: 12px;
    font-weight: bolder;
}

.songItem img {
    width: 43px;
    height: 48px;
    margin: 0 23px;
    border-radius: 32px;
}

.timestamp {
    margin: 0 23px;
}

.timestamp i {
    cursor: pointer;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.brand img {
    width: 44px;
    padding: 0, 8px;
}

.bottom {
    position: sticky;
    height: 125px;
    background-color: black;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icons {
    margin-top: 14px;
}

.icons i {
    cursor: pointer;
}

#myProgressBar {
    width: 80vw;
    text-align: center;
    cursor: pointer;
}

.songInfo {
    display: flex;
    align-items: center;
    position: absolute;
    left: 10vw;
    font-weight: bold;
}

.songinfo img {
    opacity: 0;
    transition: opacity 1s ease-in;
}

.myAlbums {
    display: flex;
    min-height: 70vh;
    background-color: black;
    color: white;
    margin: 23px auto;
    width: 60%;
    border-radius: 12px;
    padding: 34px;
}

.albumItemContainer {
    margin-top: 30px;
}

.albumItem {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: black;
    margin: 12px 0;
    border-radius: 12px;
    font-weight: bolder;
}

.albumItem a {
    text-decoration: none;
    font-weight: bolder;
    color: black;
}